.explanation {
    height: auto;
    width: 100vw;
    max-width: calc(1500px -40px);
    justify-content: space-between;

    .explanation-wrapper:hover {
        transform:scale(1.02);
    }

    .explanation-wrapper:nth-child(3) {
        margin: 0 40px;
    }
   
    .explanation-wrapper {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
        margin: 0 20px;

        img {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
        }

        h2 {
            padding: 20px;
            color: $dark-gray;
            font-weight: 600;
            position: relative;
        }

        p {
            text-align: left;
            padding: 0px 20px 20px 20px;
            color: $dark-gray;
            font-weight: 300;
            line-height: 1.7;
            letter-spacing: 0.01em;
        }
    }
}

@media screen and (max-width: 1366px) { 
    .explanation {
        height: auto;
        width: 100vw;
        flex-direction: column;
    
        .explanation-wrapper:hover {
            transform:scale(1.02);
        }
       
        .explanation-wrapper {
            width: 350px;
            background-color: white;
            border-radius: 3px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            margin: 20px 0;
            transition: all 1 ease;
    
            img {
                max-width: 350px;
                height: 250px;
                object-fit: cover;
            }
    
            h2 {
                padding: 20px;
                color: $dark-gray;
                font-weight: 600;
            }
    
            p {
                text-align: left;
                padding: 0px 20px 20px 20px;
                color: $dark-gray;
                font-weight: 300;
            }
        }

        .explanation-wrapper:first-of-type {
            margin-top: 90px;
        }
    }    
}