nav {
    display: flex;
    justify-content: center;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 65px;
    z-index: 10;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        max-width: 1500px;
        padding: 0 20px;

    
        .logo {
            width: 200px;
        }

        .menu {
            position: absolute;
            width: 100vw;
            max-width: 1500px;
            display: flex;
            justify-content: center;

            li {
                font-size: 16px;
                font-weight: 600;
                width: auto;
                position: relative;
                padding: 0;
                margin: 20px;
            }

            a {
             text-decoration: none;
                color: $dark-gray;
            }

            span {
                padding-bottom: 12px;
                border-bottom: 10px solid transparent;
                line-height: 48px;
            }
              
            .active, span:hover {
                padding-bottom: 12px;
                border-bottom: 10px solid $gray;
                line-height: 48px;
            }
        }

        .about {

            li {
                font-size: 12px;
                color: $dark-gray;

            }
        }
    }
}


@media screen and (max-width: 1000px) { 

    nav {
    
        div {
    
            .menu {
                display: none;
    
                li {
                    color: $dark-gray;
                    font-size: 16px;
                    font-weight: 600;
                    width: auto;
                    position: relative;
                    padding: 0;
                    margin: 20px;
                }
            }
        }
    }
}