nav {
    display: flex;
    justify-content: center;
    top: 0;
    background-color: white;
    width: 100vw;
    height: 65px;
    z-index: 10;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        max-width: 1500px;
        padding: 0 20px;

    .hamburger{
        display: none;
    }

    .menu {
        position: absolute;
        width: 100vw;
        max-width: 1500px;
        display: flex;
        justify-content: center;

        li {
                color: $dark-gray;
                font-size: 16px;
                font-weight: 600;
                width: auto;
                position: relative;
                padding: 0;
                margin: 20px;
              }
        }

        .about {
            li {
                font-size: 12px;
                color: $dark-gray;

            }
        }
    }
}
@media screen and (max-width: 1366px) { 


    nav {
    
        div {
    
        .menu {
            display: none;
    
            li {
                    color: $dark-gray;
                    font-size: 16px;
                    font-weight: 600;
                    width: auto;
                    position: relative;
                    padding: 0;
                    margin: 20px;
                  }
            }
            }
        }
    }