.instagram-wrapper {
    background-color: $gold-lighter;

    .instagram {
        width: 650px;
        z-index: 2;
    }

    video {
        margin-top: 29px;
        width: 349px;
        height: 349px;
        object-fit: cover;
        right: 170px;
        z-index: 1;
    }

    .instagram-image {
        height: 80vh;
        padding: 0 20px;
        z-index: 2;
    }
}

@media screen and (max-width: 1366px) { 
    .instagram-wrapper {
        padding-top: 500px;
        background-color: $gold-lighter;
        flex-direction: column;
    
        .instagram {
            width: 568px;
            z-index: 2;
            padding: 90px 0;
        }

        h1 {
            padding: 40px 0 ;
        }
    
        video {
            position: absolute;
            width: 250px;
            height: 250px;
            object-fit: cover;
        }

        .instagram-image {
            height: 80vh;
            padding: 20px 0;
        }

        .instagram-image:first-of-type {
            margin-top: 90px;
        }
    }
}