.instagram-wrapper {

    .instagram {
        width: 650px;
        z-index: 2;
    }

    video {
        width: 400px;
        object-fit: cover;
        z-index: 1;
    }

    video:hover {
        cursor: pointer;
    }

    .instagram-image {
        height: 80vh;
        padding: 0 20px;
        z-index: 2;
    }
}

@media screen and (max-width: 1000px) { 
    
    .instagram-wrapper {
        padding-top: 500px;
        flex-direction: column;
    
        .instagram {
            width: 568px;
            z-index: 2;
            padding: 90px 0;
        }

        h1 {
            padding: 40px 0 ;
        }

        .instagram-image {
            height: 80vh;
            padding: 20px 0;
        }

        .instagram-image:first-of-type {
            margin-top: 90px;
        }
    }
}