.video {
    background-color: $gold-lighter;

    .instagram {
        width: 650px;
        z-index: 2;
    }

    video {
        position: absolute;
        width: 280px;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (max-width: 1366px) { 
    .video {
        background-color: $gold-lighter;
    
        .instagram {
            width: 568px;
            z-index: 2;
        }
    
        video {
            position: absolute;
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }
}