$gold: #e6b450;
$gold-lighter: #faf0d7;
$green: #82b4a0;
$green-lighter: #d7f0e6;
$dark-blue: #41505f;
$light-blue: #4a6f7d;
$blue-lighter: #d8e5e7;
$red: #e66969;
$red-lighter: #faebeb;
$dark-gray: #4a4a49;
$gray: #b2b2b2;
$milk-white: #ededed;

