@import 'node_modules/sanitize.css/sanitize';
@import 'project/_project';
@import 'components/_components';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.button-wrapper {
  background-color: $red;
  border-radius: 3px;
  margin: 20px 25px;
  padding: 10px 40px;
}

p {
  color: white;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.logo {
  width: 200px;
}

span {
  padding-bottom: 12px;
  border-bottom: 10px solid transparent;
  line-height: 48px;
}

.active, span:hover {
  padding-bottom: 12px;
  border-bottom: 10px solid $gray;
  line-height: 48px;
}

.ancor {
  position: absolute;
  z-index: -1;
}


a {
  text-decoration: none;
  color: $dark-gray;
}

.motivation {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  margin: 0 auto;
  height: 100vh;
  max-width: calc(1500px -40px);;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #222222;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 1.5px;
  }
}

.work + .explanation {
  justify-content: space-around;
}

.work + .maja {
  display: block;
}

.padding {
  padding: 20px;
  visibility: hidden;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1366px) { 

  html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  .work {
    height: auto;
    padding: 50px 0;

    h1 {
      margin: 0 auto;
    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    img {
      margin: 20px 0;
    }

  }
}